$colors: (
  base: (
    light: #fff,
    dark: #222,
  ),
  gray: (
    50: #f9fafb,
    100: #f3f4f6,
    300: #d1d5db,
    400: #9ca3af,
    500: #6b7280,
    900: #111827,
  ),
  primary: (
    50: #eff6ff,
    100: #dbeafe,
    500: #3b82f6,
    900: #1e3a8a,
  ),
  secondary: (
    50: #f5f3ff,
    100: #ede9fe,
    500: #8b5cf6,
    900: #4c1d95,
  ),
  success: (
    50: #ecfdf5,
    100: #d1fae5,
    500: #10b981,
    900: #064e3b,
  ),
  danger: (
    50: #fef2f2,
    100: #fee2e2,
    500: #ef4444,
    900: #7f1d1d,
  ),
  warning: (
    50: #fffbeb,
    100: #fff1de,
    500: #fc9403,
    900: #853c00,
  ),
) !default;
