@function breakpoint($breakpoint) {
  @return map-get($breakpoints, $breakpoint);
}

@function map($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

@function color($keys...) {
  $map: $colors;
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

@function size($keys...) {
  $map: $font-sizes;
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}
