@import 'helpers';

@mixin media($media) {
  @if $media==sm {
    @media only screen and (min-width: breakpoint('sm')) {
      @content;
    }
  } @else if $media == md {
    @media only screen and (min-width: breakpoint('md')) {
      @content;
    }
  } @else if $media == lg {
    @media only screen and (min-width: breakpoint('lg')) {
      @content;
    }
  } @else if $media == xl {
    @media only screen and (min-width: breakpoint('xl')) {
      @content;
    }
  } @else {
    @media only screen and (min-width: $media) {
      @content;
    }
  }
}

@mixin browser($type) {
  @if $type == ie {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      @content;
    }
  } @else if $type == edge {
    @supports (-ms-ime-align: auto) {
      @content;
    }
  } @else if $type == safari {
    @media not all and (min-resolution: 0.001dpcm) {
      @content;
    }
  }
}

@mixin has-transition($properties: all, $duration: 0.15s, $easing: ease-in-out) {
  transition: $properties $duration $easing;
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}

@mixin arrow-dropdown() {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='currentColor' d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1em center;
  background-size: 0.65em;
}
