@import 'colors';
@import 'helpers';

// Fonts
$font-primary: 'Nunito', sans-serif !default;
$font-secondary: 'Nunito', sans-serif !default;
$font-sizes: (
  1: 64px,
  2: 50px,
  3: 36px,
  4: 30px,
  5: 24px,
  6: 18px,
  7: 14px,
  8: 12px,
) !default;
$font-weights: 400, 500, 700 !default;

// Main
$body-background: color(base, light) !default;
$body-font-weight: 400 !default;
$body-line-height: 1.6 !default;
$root-font-size: map-get($font-sizes, 7) !default;

// Selection
$selection-background: color(primary, 100) !default;
$selection-color: color(primary, 500) !default;

// Scrollbar
$scrollbar-size: 0.5rem !default;
$scrollbar-foreground: color(primary, 100) !default;
$scrollbar-background: color(primary, 500) !default;

// Hamburger
$hamburger-color: color(primary, 500) !default;
$hamburger-height: 3px !default;
