@import 'colors';
@import 'helpers';

// Base
$base-transition: all 0.15s easy-in-out;

// Fonts
$font-primary: 'Nunito', sans-serif !default;
$font-secondary: 'Nunito', sans-serif !default;
$font-sizes: (
  1: 64px,
  2: 50px,
  3: 36px,
  4: 30px,
  5: 24px,
  6: 18px,
  7: 14px,
  8: 12px,
) !default;
$font-weights: 400, 600, 700 !default;

$headline-weight: 600 !default;
$headline-line-height: 1.2 !default;

// Main
$body-background: color(base, light) !default;
$body-font-color: color(base, dark) !default;
$body-font-weight: 400 !default;
$body-line-height: 1.6 !default;
$root-font-size: map-get($font-sizes, 7) !default;

// Selection
$selection-background: color(primary, 100) !default;
$selection-color: color(primary, 500) !default;

// Scrollbar
$scrollbar-size: 0.5rem !default;
$scrollbar-foreground: color(primary, 100) !default;
$scrollbar-background: color(primary, 500) !default;

// Hamburger
$hamburger-color: color(primary, 500) !default;
$hamburger-height: 3px !default;

// Buttons
$buttons-sizes: small, large;
$buttons-text-transform: uppercase;
$button-border-radius: 10em !default;
$button-font-weight: 600 !default;
$buttons-font-sizes: (
  small: map-get($font-sizes, 8),
  normal: map-get($font-sizes, 7),
  large: map-get($font-sizes, 6),
) !default;
$buttons-paddings: (
  small: (
    x: 8px,
    y: 16px,
  ),
  normal: (
    x: 14px,
    y: 28px,
  ),
  large: (
    x: 20px,
    y: 40px,
  ),
) !default;
/*
normal: (
  shadow: 0px 2px 4px 2px,
  opacity: 0.35,
),
hover: (
  shadow: 0px 2px 2px 1px,
  opacity: 0.1,
),
*/
$button-shadow: (
  normal: (
    shadow: none,
    opacity: 0.35,
  ),
  hover: (
    shadow: none,
    opacity: 0.1,
  ),
) !default;
$button-default-type: solid !default;
$button-outline-border-width: 1px !default;
$buttons-styles: (
  soft: (
    gray: (
      text-color: color(gray, 500),
      button-color: color(gray, 50),
    ),
    primary: (
      text-color: color(primary, 500),
      button-color: color(primary, 50),
    ),
    secondary: (
      text-color: color(secondary, 500),
      button-color: color(secondary, 50),
    ),
  ),
  solid: (
    gray: (
      text-color: color(base, light),
      button-color: color(gray, 500),
    ),
    secondary: (
      text-color: color(base, light),
      button-color: color(secondary, 500),
    ),
    primary: (
      text-color: color(base, light),
      button-color: color(primary, 500),
    ),
  ),
  outline: (
    gray: (
      text-color: color(gray, 500),
      button-color: color(gray, 500),
    ),
    secondary: (
      text-color: color(secondary, 500),
      button-color: color(secondary, 500),
    ),
    primary: (
      text-color: color(primary, 500),
      button-color: color(primary, 500),
    ),
  ),
) !default;
